button {
  background-color:#000000;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:10px;
  border:6px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:27px;
  font-weight:bold;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin: 5px;
  &:hover {
	  background-color:#595959;
  }
  &:active {
	  position:relative;
	  top:1px;
  }
  &:disabled {
  	background-color: gray;
  	border-color: #494949;
  	color: black;
	}
}

.title-screen {
  color: white;
  background-color: black;
  text-align: center;
  height: 34vh;
  font-family: tangerine, cursive;
  padding: 33vh;
  font-size: 5vh;
  & h1 {
    margin: 0px;
  }
  
}

.character-creator {
  color: white;
  background-color: black;
  height: 84vh;
  padding: 8vh 20vw 8vh 20vw;
  text-align: left;
  display:flex;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 1.2em;
  & p {
    margin:0px;
  }
  & button{
  	font-size: 1em;
  	padding: 0px 5px 0px 5px;
  }
  & button .finish {
  	margin-top:5px;
  }
  & select {
  	background-color: black;
  	color: white;
  	border: none;
  	font-family: 'Cinzel', serif;
  	font-weight: bold;
  	font-size: 1.2em;
  }
  & .class-desc {
    padding-left:10px;
  }
}

.map-component {
  height: 80vh;
  width: 100vw;
  background-color: pink;
}
.hud-component{
  height: 20vh;
  width: 100vw;
  background-color: goldenrod;
}

.map-item.disabled{
  background-color: black;
}

.map-item.wall{
  background-color: grey;
}
.map-item.none{
  background-color: chocolate;
  
}
.map-item.hero{
  background-color: mediumblue;
}

@media (max-width: 760px) {
  .character-creator {
    font-size:0.8em;
  }
}
@media (max-width: 650px) {
  .title-screen {
    height:70vh;
    padding: 15vh 5vw 15vh 5vw;;
    font-size:24px;
    & button {
      padding: 8px 16px;
      font-size:17px;
    }
  }
}
@media (max-width: 455px) {
  .character-creator {
    padding:4vh 5vw 4vh 5vw;;
    font-size:0.6em;
  }
}