.title-screen {
  color: white;
  background-color: black;
  text-align: center;
  height: 100vh;
  font-family: tangerine, cursive;
  padding: 33vh;
  font-size: 5vh; }
  .title-screen h1 {
    margin: 0px; }
  .title-screen button {
    background-color: #000000;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 6px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 27px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 5px; }
  .title-screen button:hover {
    background-color: #595959; }
  .title-screen button:active {
    position: relative;
    top: 1px; }
